@font-face{
  font-family: "Pretendard";
  src: url(../src/assets/Pretendard-Regular.otf);
}

html,*{
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.App {
  font-family: "Pretendard";

}
input{
  border: none;
  border-radius: 2px;
}

ul,li,h3,button{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}



